.page-main__title {
  font-weight: $light;
  font-size: 24px;
  line-height: $auto-line-height;
  color: #ffffff;
}

.page-main__tagline {
  padding-top: 45px;
  font-weight: $regular;
  font-size: 14px;
  line-height: 30px;
  color: $blue-brand-color;
  background-color: #ffffff;
}
