.social-links__twitter {
  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
}

.social-links__facebook {
  background-image: url("../img/icon-facebook.svg");
  background-repeat: no-repeat;
}

.social-links__youtube {
  background-image: url("../img/icon-youtube.svg");
  background-repeat: no-repeat;
}
